.navBar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
border: 1px;
border-style: solid;
border-color: rgb(0, 0, 0);
border-radius: 0px;
padding-top: 20px;
padding-bottom: 20px;
background-color: rgba(0, 95, 115);
}
.navBar2{
    display: flex;
    justify-content: space-between;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 95, 115);
}
.button{
    margin-left: 5px;
    background-color: rgb(10, 147, 150);
    border-radius: 10px;
    
}
.input{
    border: 1px;
   border-style: solid;
    background-color: rgb(255, 255, 255);
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    padding-right: 20px;
    border-color: rgb(0, 0, 0);
    
    
}
.nav{
    border: 0.2px;
display: flex;
border-style:solid;
border-color: rgb(233, 216, 166);
align-items: center;
justify-content: center;
background-color: rgba(155, 34, 38, 0);
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
border-radius: 20px;
}
.Buttons{

    display: flex;
   
align-items: center;
padding-top: 0px;
padding-bottom: 0px;
}
#Button1{
background-color: rgb(226, 43, 128);
color: aliceblue;
}
#Button2{
 margin-left: 120px;
 background-color: crimson;
 border-radius: 25px;
}
